Repository stocktaking-inc/site-policies: changes, and which lefthook commands are due for each by the changed paths.
All: linting, formatting

linting:
  run: npm run lint
  stage_fixed: true

formatting:
  run: npm run format
  stage_fixed: true

Update README.md
  README.md
Due: formatting

commit
  README.md
  eslint.config.js
  lefthook.yml
Due: formatting

feat: readme.md
  README.md
Due: formatting

feat: readme.md contacts
  README.md
Due: formatting

chore(release): обновлен changelog
  CHANGELOG.md
Due: formatting

refactor: merged the component, added aliases, fixed CodeQuality
  src/components/Footer.astro
  src/pages/index.astro
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  styles/font.css
  styles/layout.css
  styles/misc.css
  styles/navigation.css
  styles/sidebar.css
  tsconfig.json
  utils/copyright.ts
Due: linting, formatting

Merged the component, added aliases, fixed CodeQuality
  package.json
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  tsconfig.json
Due: linting, formatting

feat: added yarn
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: added assets
  src/assets/images/icon.png
  src/assets/images/logo.png
  src/assets/images/opengraph.png
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  styles/navigation.css
Due: linting, formatting

fix: fix build
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

fix: fix pages/policy.astro
  .github/workflows/CI.yml
  .prettierrc.js
  package.json
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  yarn.lock
Due: linting, formatting

fix: fixed build
  .github/workflows/CI.yml
  .prettierrc.js
  src/components/Footer.astro
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

fix: fixed bug
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

fix: fixed bug
  src/pages/policy.astro
Due: linting, formatting

feat: added opengraph
  public/icon.png
  public/opengraph.png
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat: added ci
  github/workflows/ci.yml
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat: added CI: project build
  github/workflows/ci.yml
Due: none

fix: fixed CI
  github/workflows/ci.yml
  yarn.lock
Due: none

Sync general-app submodule to origin/main
  .gitignore
Due: none

Create notify-monorepo.yml
  github/workflows/notify-monorepo.yml
Due: none

Update notify-monorepo.yml
  github/workflows/notify-monorepo.yml
Due: none

fix: rename directory
  .github/workflows/ci.yml
  .github/workflows/notify-monorepo.yml
  yarn.lock
Due: none

add: npmrc
  .npmrc
Due: none

fix: change ci package manager
  .github/workflows/ci.yml
Due: none

fix: minor changes
  .github/workflows/ci.yml
Due: none

delete: extra file
  .github/workflows/ci.yml
  .github/workflows/notify-monorepo.yml
Due: none

fix(package manager): add pnpm for ci
  package.json
  pnpm-lock.yaml
Due: none

ci(codeql, ci): add codeql configuration and ci for build
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .gitignore
  package.json
Due: none

ci(notify monorepo): delete ci notifying monorepo
  .github/workflows/ci.yml
  .npmrc
  pnpm-lock.yaml
Due: none

fix(ci): fix ci run job
  .github/workflows/ci.yml
Due: none

feat(reset.css): add reset css
  src/pages/offer.astro
  styles/reset.css
Due: linting, formatting

refactor(css): add reset.css and module archtecture
  package.json
  src/components/Footer.astro
  src/components/Footer/Footer.astro
  src/components/Footer/Footer.css
  src/components/Footer/copyright.ts
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  styles/font.css
  styles/layout.css
Due: linting, formatting

Update copyright.ts
  src/components/Footer/copyright.ts
Due: linting, formatting

feat(docker): add docker bundle
  .dockerignore
  .gitignore
  Dockerfile
  astro.config.mjs
  package.json
Due: none

ci(cache): add ci build caching
  .github/workflows/ci.yml
Due: none

revert(ci): revert to no cache ci build
  .github/workflows/ci.yml
Due: none

Path conditions:
  linting: any of: *.{ts,astro}
  formatting: any of: *.{ts,astro,css,md}
