Repository stocktaking-inc/site-policies: changes, and which lefthook commands are due for each by the changed paths.
All: linting, formatting

linting:
  run: npm run lint
  stage_fixed: true

formatting:
  run: npm run format
  stage_fixed: true

fix(ci): add correct cache field into ci
  .github/workflows/ci.yml
Due: none

feat(ci): add cache
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
Due: none

added favicons (png/svg/ico)
  .gitignore
  public/icon.png
  public/opengraph.jpg
  public/opengraph.png
  src/assets/favicon_icon/.DS_Store
  src/assets/favicon_icon/android-chrome-192x192.png
  src/assets/favicon_icon/android-chrome-512x512.png
  src/assets/favicon_icon/apple-touch-icon.png
  src/assets/favicon_icon/favicon-16x16.png
  src/assets/favicon_icon/favicon-32x32.png
  src/assets/favicon_icon/favicon.ico
  src/assets/favicon_logo/android-chrome-192x192.png
  src/assets/favicon_logo/android-chrome-512x512.png
  src/assets/favicon_logo/apple-touch-icon.png
  src/assets/favicon_logo/favicon-16x16.png
  src/assets/favicon_logo/favicon-32x32.png
  src/assets/favicon_logo/favicon.ico
  src/assets/images/favicon_1.png
  src/assets/images/favicon_1.svg
  src/assets/images/favicon_2.png
  src/assets/images/favicon_2.svg
  src/assets/images/favicon_3.png
  src/assets/images/favicon_3.svg
  src/assets/images/favicon_4.png
  src/assets/images/favicon_4.svg
  src/assets/images/favicon_5.png
  src/assets/images/favicon_5.svg
  src/assets/images/logo.png
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  yarn.lock
Due: linting, formatting

fixed bug
  astro.config.mjs
  src/components/Footer/copyright.ts
Due: linting, formatting

feat: added modular architecture of components and fonts
  src/components/Fonts/Raleway-Bold.woff
  src/components/Fonts/Raleway-Bold.woff2
  src/components/Fonts/Raleway-Regular.woff
  src/components/Fonts/Raleway-Regular.woff2
  src/components/Fonts/font.css
  src/components/Navigation/Navigation.astro
  src/components/Navigation/Navigation.css
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  styles/font.css
Due: linting, formatting

feat: added fontloader-component
  src/components/FontLoader.astro
  src/components/Fonts/font.css
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

fix: bug fix
  astro.config.mjs
  src/components/FontLoader.astro
Due: linting, formatting

fix: bug fix
  astro.config.mjs
Due: none

fix: bug build fixed
  astro.config.mjs
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

refactor: refactoring
  astro.config.mjs
Due: none

feat: added scroll-pointer
  public/arrow-icon.svg
  src/assets/favicon_icon/.DS_Store
  src/assets/favicon_icon/android-chrome-192x192.png
  src/assets/favicon_icon/android-chrome-512x512.png
  src/assets/favicon_icon/favicon-32x32.png
  src/assets/favicon_logo/android-chrome-192x192.png
  src/assets/favicon_logo/android-chrome-512x512.png
  src/assets/favicon_logo/apple-touch-icon.png
  src/assets/favicon_logo/favicon-16x16.png
  src/assets/favicon_logo/favicon-32x32.png
  src/assets/favicon_logo/favicon.ico
  src/assets/icon/.DS_Store
  src/assets/icon/apple-touch-icon.png
  src/assets/icon/favicon-16x16.png
  src/assets/icon/favicon.ico
  src/assets/images/favicon_1.png
  src/assets/images/favicon_1.svg
  src/assets/images/favicon_2.png
  src/assets/images/favicon_2.svg
  src/assets/images/favicon_3.png
  src/assets/images/favicon_3.svg
  src/assets/images/favicon_4.png
  src/assets/images/favicon_4.svg
  src/assets/images/favicon_5.png
  src/assets/images/favicon_5.svg
  src/assets/images/logo.png
  src/components/FontLoader.astro
  src/components/Fonts/font.css
  src/components/Navigation/Navigation.css
  src/components/Pointer/Pointer.astro
  src/components/Pointer/Pointer.css
  src/components/Pointer/scroll.ts
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

fix: fixed build
  astro.config.mjs
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  tsconfig.json
Due: linting, formatting

fix: fixed import for build
  astro.config.mjs
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

Delete src/assets/icon/.DS_Store
  src/assets/icon/.DS_Store
Due: none

fix: deleate pointer and add .ds_store in .gitignore
  .gitignore
  src/components/Pointer/Pointer.astro
  src/components/Pointer/Pointer.css
  src/components/Pointer/scroll.ts
Due: linting, formatting

fix: fixed bug
  public/arrow-icon.svg
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat: added index.ts and lastupdate-component
  src/components/LastUpdate/LastUpdate.astro
  src/components/LastUpdate/lastUpdate.css
  src/components/LastUpdate/lastUpdate.ts
  src/constants/index.ts
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
  styles/layout.css
  styles/misc.css
  styles/sidebar.css
Due: linting, formatting

feat: added head-component
  src/components/Head/Head.astro
  src/constants/index.ts
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat(head): head component
  src/components/Head/Head.astro
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat(makefile): add makefile for comfortable work
  Makefile
Due: none

fix(docker): fix docker port in dockerfile
  .gitattributes
  Dockerfile
Due: none

style: added local font
  src/components/Fonts/font.css
  styles/misc.css
Due: formatting

chore: update seo
  src/components/Head/Head.astro
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

feat: full coverage Jest
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/copyright.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  jest.config.js
  package-lock.json
  package.json
  src/components/Footer/__tests__/copyright.test.ts
  yarn.lock
Due: linting, formatting

fix: update .gitignore
  .dockerignore
  .gitignore
  coverage/coverage-final.json
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/copyright.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sorter.js
  jest.config.js
Due: none

deleate coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/copyright.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: formatting

chore: update seo
  jest.config.js
  src/components/Head/Head.astro
  src/pages/offer.astro
  src/pages/policy.astro
  src/pages/terms.astro
Due: linting, formatting

docs: added docs/
  docs/CODEOWNERS
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/ROADMAP.md
  docs/SECURITY.md
Due: formatting

Update CODEOWNERS
  docs/CODEOWNERS
Due: none

feat(docker): add dockerignore row
  .dockerignore
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  linting: any of: *.{ts,astro}
  formatting: any of: *.{ts,astro,css,md}
